<!DOCTYPE html>
<html>
<head>
  <title>#USPOCUPA</title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <h1><a href="/">#USPOCUPA</a></h1>
  </header>

  <%= render 'layouts/carousel' %>

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Acesse os links para ficar atualizado da campanha e não deixe de enviar sua proposta.</p>
      <ul>
        <li><a target="_blank" class="icons-facebook" href="http://www.facebook.com/USPocupa">facebook</a></li>
        <li><a target="_blank" class="icons-youtube" href="http://www.youtube.com/uspocupa2012">youtube</a></li>
      </ul>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
